@model List<AnimalPost>

<div class="container col-xxl-8 px-5 py-3">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-5">
            <h1 class="display-5 fw-bold lh-1 mb-3">Animals</h1>
            <p class="lead">MVC App about awesome Animals</p>
        </div>

        <div class="col-10 col-lg-5">
            <img class="d-block mx-lg-auto img-fluid" width="300" src="images/mainPage.png" alt="Animal App"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            @foreach (var post in Model)
            {
                <div class="mb-5 bg-light box-shadow">
                    <h2 class="mb-2">
                        <a class="text-black text-decoration-none" href="#">@post.Title</a>
                    </h2>
                    <img class="mb-3 d-block img-fluid" src="@post.ImageUrl" alt="@post.Title"/>
                    <p class="mb-2">@post.Description</p>
                    <p class="mb-2">
                        Author: @post.Author
                        <br/>
                        Published Date: @post.PublishedDate.ToShortDateString()
                    </p>

                </div>
            }

        </div>
    </div>
</div>